:host {
  align-self: flex-start;
}

img {
  width: 48px;
  height: 48px;
  padding: 10px;
  cursor: pointer;
  margin: 30px 50px;
}

@media (max-width: 1000px) {
  img {
    padding: 0;
    margin: 30px 10vw;
  }
 }
