<div class="toggle" (click)="toggle()" [class.collapsed]="isOpen">
  <span></span>
  <span></span>
  <span></span>
</div>

<div class="overlay" *ngIf="isOpen">
  <div class="menu">
    <ng-container *ngFor="let route of routes; let i = index">
      <div class="menu-item" [class.main]="isMainRoute(route)" (click)="selectPage(route)">
        <span class="title" [ngClass]="'delay-' + i">
          {{ route.name }} <span class="dot" *ngIf="selectedPage(route)"></span>
        </span>
      </div>
    </ng-container>
  </div>
</div>
