:host {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .signum {
    left: 0;
    bottom: 0;
    padding: 10px;
    display: flex;
    margin: 30px 50px;
    position: absolute;
    flex-direction: column;

    #name {
      font-size: 20px;
      font-weight: 700;
    }
  }
}
