<div class="container" *ngIf="currentPage">
  <ng-container *ngFor="let i of getDimension('rows'); let row = index">
    <ng-container
      *ngFor="let j of getDimension('columns'); let col = index"
      [ngTemplateOutlet]="currentPage?.name === 'Landing' ? animation : portfolio"
      [ngTemplateOutletContext]="{ item: currentPage?.name === 'Landing' ? getAnimatedItem(row, col) : getPortfolioItem(row, col) }"
    ></ng-container>
  </ng-container>
</div>

<ng-template #animation let-item="item">
  <span class="wrapper" [ngClass]="[getAnimationClasses(item), item ? (isReversed ? 'backward' : 'forward') : '']">
    <span *ngIf="item?.type === 'circle'" [ngClass]="['animated-item', item?.direction ? item?.direction : '']"></span>
    <span *ngIf="item?.type === 'square'" class="square-container">
      <span [ngClass]="['animated-item', item?.direction ? item?.direction : '']"></span>
    </span>
  </span>
</ng-template>

<ng-template #portfolio let-item="item">
  <span class="wrapper" [ngClass]="[item ? item.delay : '', isReversed ? 'backward' : 'forward']">
    <ng-container *ngIf="item && currentPage.name === 'All' || item?.category === currentPage?.name">
      <span class="portfolio-item">
        <img [src]="item.thumbnail" [alt]="item.name" loading="lazy" />
        <span class="name">{{ item.name }}</span>
      </span>
    </ng-container>
  </span>
</ng-template>

<ng-container *ngFor="let item of portfolioItems">
  <img [src]="item.thumbnail" class="hidden">
</ng-container>
