<div class="container" *ngIf="currentPage">
  <ng-container *ngFor="let i of getDimension('rows'); let row = index">
    <ng-container
      *ngFor="let j of getDimension('columns'); let col = index"
      [ngTemplateOutlet]="currentPage?.name === 'Landing' ? animation : currentPage?.name === 'About' ? about : portfolio"
      [ngTemplateOutletContext]="{ item: getItem(row, col) }"
    ></ng-container>
  </ng-container>
</div>

<dd-details-modal *ngIf="selectedItem" [item]="selectedItem" (onClose)="closeDetails()"></dd-details-modal>

<ng-template #animation let-item="item">
  <div class="wrapper" [ngClass]="[getAnimationClasses(item), item ? (isReversed ? 'backward' : 'forward') : '']">
    <div *ngIf="item?.type === 'circle'" [ngClass]="['animated-item', item?.direction ? item?.direction : '']"></div>
    <div *ngIf="item?.type === 'square'" class="square-container">
      <div [ngClass]="['animated-item', item?.direction ? item?.direction : '']"></div>
    </div>
  </div>
</ng-template>

<ng-template #portfolio let-item="item">
  <div class="wrapper" [ngClass]="[item ? item.delay : '', isReversed ? 'backward' : 'forward']">
    <ng-container *ngIf="item && isVisiblePortfolioItem(item)">
      <div class="portfolio-item" (click)="openDetails(item)">
        <img [src]="item.thumbnail" [alt]="item.name" loading="lazy" />
        <span class="name">{{ item.name }}</span>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #about let-item="item">
  <div class="wrapper">
    <div *ngIf="item" class="about-item" [ngClass]="getAboutItemClasses(item)" [ngStyle]="item.style">
      <div *ngIf="item.text" [class.icon]="item.iconUrl">
        <div *ngIf="item.iconUrl" class="image">
          <img [src]="item.iconUrl" alt="icon">
        </div>
        <span>{{ item.text }}</span>
      </div>
      <img *ngIf="item.imageUrl" [src]="item.imageUrl" alt="image" [style.width.%]="item.imageSize">
    </div>
  </div>
</ng-template>

<ng-container *ngFor="let item of portfolioItems">
  <img [src]="item.thumbnail" class="hidden" alt="thumbnail">
</ng-container>
