$num-rows: 8;
$num-columns: 8;
$grid-width: 750px;
$grid-height: 750px;
$grid-max-width: 80vw;
$grid-max-height: 80vw;

:host {
  align-self: center;
  max-width: $grid-max-width;
  max-height: $grid-max-height;
}

.container {
  display: grid;
  overflow: hidden;
  border: 1px solid;
  width: $grid-width;
  align-items: center;
  height: $grid-height;
  justify-content: center;
  max-width: $grid-max-width;
  max-height: $grid-max-height;
  grid-template-rows: repeat($num-rows, 1fr);
  grid-template-columns: repeat($num-columns, 1fr);

  .wrapper {
    height: 100%;
    position: relative;
    box-shadow: inset 0 0 0 1px black;

    .animated-item {
      z-index: 10;
      display: flex;
      position: absolute;
      animation-fill-mode: both;
      animation-iteration-count: 1;
      animation-timing-function: ease;
    }

    .portfolio-item {
      width: 100%;
      height: 100%;
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      animation-fill-mode: both;
      animation-iteration-count: 1;
      animation-timing-function: ease;

      img {
        transition: 0.25s;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
      }

      .name {
        left: 6px;
        right: 6px;
        opacity: 0;
        text-align: left;
        transition: 0.25s;
        font-weight: bold;
        position: absolute;
        word-break: break-word;
      }

      &:hover {
        img {
          opacity: 0;
        }

        .name {
          opacity: 1;
        }
      }

      @media (max-width: 1000px) {
        .name {
          font-size: 15px;
        }
      }

      @media (max-width: 925px) {
        .name {
          font-size: 14px;
        }
      }

      @media (max-width: 850px) {
        .name {
          font-size: 13px;
        }
      }

      @media (max-width: 775px) {
        .name {
          font-size: 12px;
        }
      }
    }

    &.forward {
      .animated-item {
        animation-duration: 1s;

        &.top {
          animation-name: slide-top;
        }
        &.right {
          animation-name: slide-right;
        }
        &.bottom {
          animation-name: slide-bottom;
        }
        &.left {
          animation-name: slide-left;
        }
      }

      @for $d from 1 through 3 {
        &.d#{$d} .portfolio-item {
          animation-name: appear;
          animation-duration: 0.5s;
          animation-delay: calc(0.25s * #{$d});
        }
      }
    }

    &.backward {
      .animated-item {
        animation-duration: 0.25s;

        &.top {
          animation-name: slide-top-reversed;
        }
        &.right {
          animation-name: slide-right-reversed;
        }
        &.bottom {
          animation-name: slide-bottom-reversed;
        }
        &.left {
          animation-name: slide-left-reversed;
        }
      }

      @for $d from 1 through 3 {
        &.d#{$d} .portfolio-item {
          animation-name: disappear;
          animation-duration: 0.2s;
          animation-delay: calc(0.1s * #{$d});
        }
      }
    }

    &.square {
      @for $w from 1 through 3 {
        @for $h from 1 through 3 {
          @for $d from 1 through 3 {
            &.w#{$w}-h#{$h}-d#{$d} {
              .square-container {
                top: 0;
                left: 0;
                overflow: hidden;
                position: absolute;
                width: calc(100% * #{$w});
                height: calc(100% * #{$h});

                .animated-item {
                  width: 100%;
                  height: 100%;
                  animation-delay: calc(0.25s * #{$d});
                }
              }
            }
          }
        }
      }
    }

    @for $d from 1 through 3 {
      &.circle-d#{$d} {
        overflow: hidden;

        .animated-item {
          z-index: 11;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          animation-delay: calc(0.25s * #{$d});
        }
      }
    }

    &.red .animated-item {
      background: #e52322;
    }

    &.blue .animated-item {
      background: #244a9a;
    }
  }
}

.hidden {
  display: none;
}

@keyframes slide-top {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

@keyframes slide-right {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

@keyframes slide-bottom {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes slide-left {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes slide-top-reversed {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

@keyframes slide-right-reversed {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}

@keyframes slide-bottom-reversed {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -100%;
  }
}

@keyframes slide-left-reversed {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
