.container {
  position: relative;

  .menu {
    bottom: 50px;
    display: flex;
    position: absolute;
    align-items: flex-end;
    transform: translateX(-50%);

    &-item {
      width: 150px;
      display: flex;
      padding: 0 12px;
      font-weight: bold;
      overflow-y: hidden;
      align-items: center;
      flex-direction: column;

      &:nth-of-type(2) {
        margin: 0 80px;
      }

      .title {
        cursor: pointer;
      }

      .dropdown {
        display: flex;
        flex-direction: column;

        .list {
          display: flex;
          margin-bottom: -98px;
          flex-direction: column;
          transition: 0.35s all ease-in-out;

          &.selection {
            margin-bottom: -78px;
          }
        }

        &:hover .list {
          margin-bottom: 4px;
        }
      }

      .list-item {
        height: 16px;
        cursor: pointer;
        position: relative;
        font-weight: normal;

        .dot {
          top: 8px;
          width: 6px;
          opacity: 0;
          left: -12px;
          height: 6px;
          background: black;
          position: absolute;
          border-radius: 50%;
        }

        &:hover .dot {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .container {
    display: none;
  }
}
